<div class="app-container d-flex align-items-center justify-content-center"
     @fadeSlide>

  <div class="w-100 p-4">

    <div class="text-center mb-4">
      <i class="bi bi-car-front-fill fs-1 text-success"></i>
      <h3 class="fw-bold mt-2">ParkApp</h3>
      <p class="text-muted">Gestión inteligente de estacionamientos</p>
    </div>

    <div class="card card-custom p-4 shadow">
      <div class="mb-3">
        <label class="form-label">Usuario</label>
        <input class="form-control" placeholder="correo@ejemplo.com">
      </div>

      <div class="mb-4">
        <label class="form-label">Contraseña</label>
        <input type="password" class="form-control" placeholder="••••••••">
      </div>

      <button class="btn btn-primary w-100 fw-bold" (click)="ingresar()">
        Ingresar
      </button>

      <div class="text-center mt-3">
        <a class="small text-decoration-none">¿Olvidaste tu contraseña?</a>
      </div>
    </div>

    <p class="text-center small text-muted mt-3">
      Arequipa · Perú
    </p>
  </div>
</div>
